body {
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/christmas-background-christmas-frame-made-of-fir-branches-new-years-toys-christmas-wallpapers-flat-top-view-merry-christmas-card-winter-holiday-theme-happy-new-year-space-for-text-svetlana-belozerova.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Questrial', sans-serif;
  font-size: 75%;
}

h1 {
  margin-top: 350px;
  margin-left: 30px;
  font-size: 50px;
}
h2 {
  font-size: 30px;
  margin-left: 30px;
}

.intro {
  margin-left: 30px;
  font-size: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.present-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 3px solid #e01fc9;
  border-radius: 5%;
}

button {
  background-color: #f2d2ee;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#delete-all {
  background-color: white;
  margin-left: 50px;
  border-radius: 5%;
  font-size: 15px;
  padding: 5px;
  border: 3px solid #e01fc9;
}
.filter {
  float: right;
  margin-right: 30px;
  font-size: 15px;
  border: 3px solid #e01fc9;
}
.hide {
  display: none;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}
.form-inline select {
  margin: 5px 10px 5px 0;
  font-size: 15px;
  border: 3px solid #e01fc9;
}
input.box {
  padding: 5px;
  background-color: #fff;
  border: 3px solid #e01fc9;
  border-radius: 5%;
}
input.save {
  font-size: 20px;
  border-radius: 5%;
  padding: 5px;
  border: 3px solid #e01fc9;
}
input[type="radio"]{
  transform: scale(1.5);
  margin-left: 20px;
}
